<p class="h4 text-center"><%= "His answer:"%></p>
<p class="h2 text-center"><%= @answer %></p>
<a class="btn btn-primary text-decoration-none text-white d-grid gap-2 col-2 mx-auto"<%= link_to "Ask a new question", "/ask" %>
