<h1 class="text-center">Welcome to Stupid Coaching</h1>
<p class="h3 text-center">Ask your coach anything: </p>
<form action="answer" data-turbo="false" class="d-grid gap-2 col-2 mx-auto">
  <input type="text" name="question" placeholder="What do you want to ask me?" class="form-control text-center">
  <input type="submit" value="Ask!" class= "btn btn-primary text-center" type="button">
</form>
